img{
    width: 300px;
    height: 200px;
    margin-top: 10px;
}
seccion,p{
    display: inline;
    margin-top: 50px;
}
section{
    border-top: 1px dashed green;
    width: 75%;
    margin: auto;
}
h1{
    font-size: 50px;
    text-align: center;
    background-color: green;
    width: 500px;
    border-radius: 10px;
    margin: auto;
    color: rgb(20, 4, 59);
    box-shadow: black 2px 5px 10px;
    text-shadow: black 5px 1px 10px;
}
