body{
    background-color: rgb(223, 219, 219);
    margin: 0;
}
#Inspiracion, #Contenido{
    background-color: aliceblue;
}
#Inspiracion{
    float: right;
    background-color: rgb(8, 207, 8);
    margin-right: 1px;
    border: 4px solid rgb(8, 207, 8);
    border-radius: 5px;
    font-size: 15px;
    box-shadow:rgb(58, 58, 58) 5px 10px 25px;
}
#Inspiracion p{
    margin-left:20px;
}
#Contenido{
    border: 4px solid rgb(8, 207, 8);
}
#inf{
    float: left;
    display: inline;
    display: flex;
    gap: 10px;
    margin-top: 65px;
}
#inf h3{
    width: 185px;
    padding: 2px;
}
li{
    background-color: rgb(8, 207, 8);
    display: inline;
}
#navegacion{
    background-color: rgb(8, 207, 8);
    padding: 1px;
    border: 4px solid rgb(3, 3, 3);
    border-radius: 10px;
}
img{
    width: 800px;
    box-shadow:rgb(29, 29, 29) 5px 1px 50px;
    view-timeline-name: --image;
    view-timeline-axis: block;
    animation-timeline: --image;
    animation-name: scroll;
    animation-range: entry 25% cover 50%;
    animation-fill-mode: both;
}
#Partidos{
    margin-top: 250px;
}
footer, #correo{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
}
a{
    background-color: rgb(207, 206, 206);
    transition:transform ease 1.0s;
    display: inline-block;
    margin-left: 8px;
    border-radius: 10px;
}
a:hover{
    transform: scale(1.2);
    background-color: rgb(18, 212, 76);
}
#Enlace{
    margin-top: 200px;
    margin-bottom: -220px;    
}
#Inspiracion p[name^="sueños"]{
    color: green;
}
#Inspiracion h4[name*="sueños"]{
    color:green;
    text-align: center;
}
/* ^ = Indicamos que debe empezar con el valor sueños
   $ = Indicamos que debe de terminar con el valor sueños
   * = Indicamos que debe de contener el valor sueños*/
a{
    text-decoration: none;
}
h3:nth-child(even){
    background-color: rgb(118, 219, 118);
}
h3:nth-child(odd){
    background-color: rgb(97, 184, 97);
}
h1{
    text-align: center;
    text-shadow: rgb(0, 0, 0) 1px 4px 8px;
    transition: transform ease 1.0s;
}
h1:hover{
    transform: rotate(-5deg);
}
.img{
    display: flex;    
}
.img p:nth-child(2){
    margin: auto;
    width: 800px;
    font-size: 20px;
}

@keyframes scroll{
    from{
        opacity: 0;
        scale: 25%;
    }
    to{
        opacity: 1;
        scale: 100%;
    }
}

@media (max-width: 1600px){
    #inf{
        float: left;
        display: inline;
        display: flex;
        gap: 10px;
        margin-top: 65px;
    }
    #inf h3{
        width: 220px;
        padding: 2px;
    }
    #Inspiracion{
        float: right;
        background-color: rgb(8, 207, 8);
        margin-right: 1px;
        border: 4px solid rgb(8, 207, 8);
        border-radius: 5px;
        font-size: 12px;
        box-shadow:rgb(58, 58, 58) 5px 10px 25px;
        width: 500px;
        height: 200px;
    }
    .img p:nth-child(2){
        margin: auto;
        width: 600px;
        font-size: 20px;
    }
}

@media (max-width: 1366px){
    #inf{
        gap:5px;
    }
    #inf h3{
        width: 180px;
    }
    .img p:nth-child(2){
        width: 500px;
    }
}

time{
    display: block;
}


