h1{
    width: 495px;
    background-color: green;    
    text-align: center;
    padding: 1px;
    margin: auto;
    font-size: 50px;
    text-shadow: 8px 2px 10px;
    border-radius: 10px;
    box-shadow: 2px 4px 11px;
}

img{
    width: 300px;
    height: 200px;    
    margin-top: 10px;
}

section{
    border-top: 1px green dashed;
    width: 1200px;
    margin: auto;
}

img, p{
    display: inline;
}

