img{
    width: 250px;
    height: 150px;
    margin-top: 10px;
    margin-left:2px;
    border-radius: 10px;
    box-shadow: 5px 5px 25px black;
}
img:hover{
    transform: scale(1.2);
}

h1{
    text-align: center;
    margin: auto;
    background-color: black;
    width: 200px;
    color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 20px black;
    text-shadow: 5px 5px 15px white;
}
h2{
    margin: auto;
}

section{
    width: 77%;
    border-top: 1px dashed black;
    margin: auto;
    display: flex;
    text-align: center;
    gap: 50px;
    flex-wrap: wrap; 
}

body{
    background-color: rgb(206, 219, 230);
}

